.container {
    position: relative;
    width: 80%;
    height: 400px;
    margin: 2rem auto;
    border-radius: 50%;
  }
  
  .mapWrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .arrowMolding {
    position: absolute;
    left: 0;
    width: 100%;
    height: 19px;
    color: #17171a;
    z-index: 1;
  }
  
  .arrowMoldingUp {
    composes: arrowMolding;
    top: -1px;
  }
  

  
  